PYTHONPATH=/home/jetlee/workspace/main/research/a2g_packages/src
PROJECT_A2G_LOCATION=DEVELOPMENT
PROJECT_NEO4J_URI=bolt://localhost:57687
PROJECT_NEO4J_USERNAME=neo4j
PROJECT_NEO4J_PASSWORD=neo4jpassword
PROJECT_NEO4J_DATABASE=neo4j
